/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	margin: 0;
}

a {
	text-decoration: none;
}

.container-main {
	display: grid;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	background-color: white;
	grid-template-columns: 180px 1fr;
	grid-template-rows: 140px 4fr 82px;
  grid-template-areas: "sidebar   header    header"
                       "sidebar   ccontent  ccontent"
                       "sidebar   footer    footer";
}

.sidebar {
	background-color: #19222a;
	grid-area: sidebar;
}

.container-content {
	grid-area: ccontent;
}

.header {
	display: grid;
	grid-template-rows: 120px 20px;
  grid-template-areas: "imgP userSpace"
                       "alert alert";
	grid-area: header;
}

.footer {
	background-color: red;
	grid-area: footer;
	display: flex;
	justify-content: center;
}

.container-footer {
	text-align: center;
	padding: 2px;
	font-family: 'Architects Daughter', cursive;
	font-size: 14px;
}

.header-alert {
	grid-area: alert;
}

.header-img-p {
	padding: 10px;
	grid-area: imgP;
	background-color: red;
}

.header-user-space {
	grid-area: userSpace;
	background-color: red;
}