<div class="sidebar-container" >
	<div class="sidebar-top" >
		<%= image_tag('pokeball.png', size: "80x80", alt: "pokeApp", class: "rotate-center") %>
	</div>
	<div class="sidebar-content">
		<nav class="sidebar-nav" >
			<ul>
				<li>
					<div>
						<ion-icon name="home"></ion-icon>
						<%= link_to "Inicio", controller: "home", action: "index" %>						
					</div>
				</li>
				<li>
					<div>
						<ion-icon name="happy"></ion-icon>
						<%= link_to "Acerca", controller: "home", action: "acerca" %>
					</div>					
				</li>
			</ul>
		</nav>
	</div>
	<div class="sidebar-bottom">&nbsp</div>	
</div>