<!DOCTYPE html>
<html>
  <head>
    <title>PokeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </head>

  <body>
    <section class="container-main">
      <div class="sidebar">
        <%= render "layouts/sidebar" %>
      </div>
      <div class="header">
        <%= render "layouts/header" %>
        <div class="header-alert" >
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>          
        </div>                
      </div>
      <div class="conatiner-content">
            <%= yield %>
      </div>
      <div class="footer">
        <%= render "layouts/footer" %>
      </div>
    </section>
  </body>
</html>
